<h1>Stupid Coach</h1>
<h2>Ask something to your coach!</h2>
<form action="/answer" method= "get">
  <input class="button" type="text" name="question">
  <input class="button blue" type="submit" value="Ask!">
</form>



