// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ask {
  border-left: 5px solid #00A699;
  padding-left: 15px;

}

.reply {
  border-left: 5px solid #00A699;
  background-color: #FFFEE1;
  padding-left: 15px;
  padding-right: 15px;
}

a {
  text-decoration: none;
  color: gray;
}

a:hover {
  color: #00A699;
}

body {
  font-family: Helvetica;
}

.button {
  padding: 10px;

}

.blue {
  background-color:blue;
  color:white;
}
